{% extends 'layout.html.twig' %}

{% block body %}
  <div class="wrapper">
    {{ include('indexHeader.html.twig') }}
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
        <!-- Main content -->
        <section class="content-header">
          <h1>Agregar consulta</h1>
        </section>
        <section class="content">
          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body">
              {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate'} }) }}												
    					<div class="form-group">
    							{{ form_label(form.consulta, 'Consulta') }}
    							{{ form_widget(form.consulta, {'attr': {'class': 'form-control', 'placeholder' : 'Consulta'}}) }}
    							<span class="text-danger">{{ form_errors(form.consulta) }}</span>
    					</div>

    					<div class="form-group">
    						{{ form_label(form.fechaConsulta, 'Fecha de la consulta') }}
    						<div class="input-group">
    		                  	<div class="input-group-addon">
    		                    	<i class="fa fa-calendar"></i>
    		                  	</div>
    		                  	<!--input type="date" class="form-control" id="jca_pacientebundle_consulta_fechaConsulta" name="jca_pacientebundle_consulta[fechaConsulta]"-->
    		                  	{{ form_widget(form.fechaConsulta, {'attr': {'class': 'form-control', 'placeholder' : 'Fecha de consulta del paciente (ej. 09/02/1885)'}}) }}       		
    						</div>
    						<span class="text-danger">{{ form_errors(form.fechaConsulta) }}</span>
    					</div>

    					</fieldset>

    					<p>
    						{{ form_widget(form.save, {'label' : 'Agregar', 'attr': {'class': 'btn btn-success'}}) }}
    					</p>
    				{{ form_end(form) }}
            </div>
            <!-- /.box-body -->
          </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    {{ include('footer.html.twig') }}
  </div>
  <!-- ./wrapper -->
{% endblock %} 