{% extends 'layout.html.twig' %}

{% block body %}
  <div class="wrapper">
    {{ include('indexHeader.html.twig') }}
    <!-- Full Width Column -->
    <div class="content-wrapper">
      {{ include('JCAPacienteBundle:Paciente:messages/succes.html.twig') }}
      {{ include('JCAPacienteBundle:Paciente:messages/error.html.twig') }}      
      <div class="container">
        <!-- Main content -->
        <section class="content-header">
          <h1>Agregar consultorio</h1>
        </section>
        <section class="content">
          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body">
            	{{ form_start(form, { 'attr' : {'novalidate' : 'novalidate'} }) }}												
      					<div class="form-group"> 
      							{{ form_label(form.consultorio, 'Consultorio') }}
      							{{ form_widget(form.consultorio, {'attr': {'class': 'form-control', 'placeholder' : 'Agregue el consultorio'}}) }}
      							<span class="text-danger">{{ form_errors(form.consultorio) }}</span>
      					</div>

      					</fieldset>

      					<p>
      						{{ form_widget(form.save, {'label' : 'Agregar', 'attr': {'class': 'btn btn-success'}}) }}
      					</p>
      				{{ form_end(form) }}
              
            </div>
            <!-- /.box-body -->
          </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->

        <section class="content-header">
          <h1>Eliminar consultorio</h1>
        </section>
        <section class="content">
          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body">                                   
                
                <div class="form-group"> 
                    <label>Consultorio</label>
                    <select class="form-control" id="seleccion">
                      <option value="" id="predeterminada">Seleccione un consultorio</option>
                      {% for consultorio in consultorios %}
                      <option value="{{ consultorio.id }}" id="consultorio{{consultorio.id}}">{{ consultorio.consultorio }}</option>
                      {% endfor %}
                    </select>                    
                </div>               
                          
                <button type="button" class="btn btn-danger btn-eliminar" data-toggle="modal" data-target="#modal-eliminar-consultorio">Eliminar</button>
              
            </div>
            <!-- /.box-body -->
            <!-- Loading-->
            <div class="overlay hidden" id="consultorio-progress">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          <!-- end loading -->
          </div>
          <!-- /.box -->          

          <!--modal eliminar consultorio-->
            <div class="modal modal-danger fade" id="modal-eliminar-consultorio">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">¿Esta seguro que desea eliminar este consultorio?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                    {{ form_start(delete_consultorio_form, {'attr': {'id': 'form-delete'}}) }}

                      {{ form_widget(delete_consultorio_form) }}
                      
                      <button type="submit" class="btn btn-outline btn-delete" value="" data-dismiss="modal">Eliminar</button>
                    
                    {{ form_end(delete_consultorio_form) }}
                  </div>
                </div>
              </div>
            </div>
          <!-- /.modal -->

        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    {{ include('footer.html.twig') }}
  </div>
  <!-- ./wrapper -->
{% endblock %} 

{% block javascripts %}
  
  {{ parent() }}

  <script> 
    $('.btn-eliminar').attr("disabled", true);
    $("#jca_pacientebundle_consultorio_consultorio").val("");
    $("#seleccion").change(function(){
      $("#predeterminada").addClass('hidden');
      $('.btn-eliminar').attr("disabled", false);                  
      var id = $(this).val();
      $('.btn-delete').val(id);
    });
  </script>

  <script src="{{ asset('bundles/jcapaciente/js/delete-consultorio.js') }}"></script>

{% endblock %}