{% extends 'layout.html.twig' %}

{% block body %}
  <div class="wrapper">
    {{ include('indexHeader.html.twig') }}
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
        <!-- Main content -->
        <section class="content-header">
          <h1>Editar paciente</h1>
        </section>
        <section class="content">
          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body">
              	{{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'consultorio' : 'form'} }) }}
								
					<div class="form-group">
							{{ form_label(form.apellidoNombre, 'Apellido y nombre') }}
							{{ form_widget(form.apellidoNombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Apellido y nombre del paciente'} }) }}
							<span class="text-danger">{{ form_errors(form.apellidoNombre) }}</span>
					</div>
					
					<span class="hidden consul" consul_id="{{ consultorio.id }}"></span>
					<div class="form-group">
							{{ form_label(form.consultorio) }}
							{{ form_widget(form.consultorio, {'attr': {'class': 'form-control'}}) }}
							<span class="text-danger">{{ form_errors(form.consultorio) }}</span>
					</div>

					<div class="form-group">
							{{ form_label(form.dni, 'DNI') }}
							{{ form_widget(form.dni, {'attr': {'class': 'form-control', 'placeholder' : 'DNI del paciente'}}) }}
							<span class="text-danger">{{ form_errors(form.dni) }}</span>
					</div>

					<div class="form-group">
							{{ form_label(form.telefono, 'Teléfono') }}
							<div class="input-group">
			                  	<div class="input-group-addon">
			                    	<i class="fa fa-phone"></i>
			                  	</div>
								{{ form_widget(form.telefono, {'attr': {'class': 'form-control', 'placeholder' : 'Telefono del paciente'}}) }}
							</div>
							<span class="text-danger">{{ form_errors(form.telefono) }}</span>
					</div>

					<div class="form-group">
						{{ form_label(form.fechaNacimiento, 'Fecha de nacimiento') }}
						<div class="input-group">
		                  	<div class="input-group-addon">
		                    	<i class="fa fa-calendar"></i>
		                  	</div>
		                  	<!--input type="date" class="form-control" id="jca_pacientebundle_paciente_fechaNacimiento" name="jca_pacientebundle_paciente[fechaNacimiento]"-->
		                  	{{ form_widget(form.fechaNacimiento, {'attr': {'class': 'form-control', 'placeholder' : 'Fecha de nacimiento del paciente (ej. 09/02/1885)'}}) }}       		
						</div>
						<span class="text-danger">{{ form_errors(form.fechaNacimiento) }}</span>
					</div>

					<div class="form-group">
							{{ form_label(form.domicilio) }}
							{{ form_widget(form.domicilio, {'attr': {'class': 'form-control', 'placeholder' : 'Domicilio del paciente'}}) }}
							<span class="text-danger">{{ form_errors(form.domicilio) }}</span>
					</div>

					<div class="form-group">
						{{ form_label(form.fechaConsulta, 'Fecha de la primera consulta') }}
						<div class="input-group">
		                  	<div class="input-group-addon">
		                    	<i class="fa fa-calendar"></i>
		                  	</div>
		                  	<!--input type="date" class="form-control" id="jca_pacientebundle_paciente_fechaNacimiento" name="jca_pacientebundle_paciente[fechaNacimiento]"-->
		                  	{{ form_widget(form.fechaConsulta, {'attr': {'class': 'form-control', 'placeholder' : 'Fecha de consulta del paciente (ej. 09/02/1885)'}}) }}       		
						</div>
						<span class="text-danger">{{ form_errors(form.fechaConsulta) }}</span>
					</div>

					<div class="form-group">
							{{ form_label(form.mc, 'Motivo de consulta') }}
							{{ form_widget(form.mc, {'attr': {'class': 'form-control', 'placeholder' : 'Motivo de la consulta del paciente'}}) }}
							<span class="text-danger">{{ form_errors(form.mc) }}</span>
					</div>

					<div class="form-group">
							{{ form_label(form.antecedentes) }}
							{{ form_widget(form.antecedentes, {'attr': {'class': 'form-control', 'placeholder' : 'Antecedentes del paciente'}}) }}
							<span class="text-danger">{{ form_errors(form.antecedentes) }}</span>
					</div>

					<div class="form-group">
							{{ form_label(form.medicacion) }}
							{{ form_widget(form.medicacion, {'attr': {'class': 'form-control', 'placeholder' : 'Medicación del paciente'}}) }}
							<span class="text-danger">{{ form_errors(form.medicacion) }}</span>
					</div>

					</fieldset>

					<p>
						{{ form_widget(form.save, {'label' : 'Modificar', 'attr': {'class': 'btn btn-success'}}) }}
					</p>
				{{ form_end(form) }}
            </div>
            <!-- /.box-body -->
          </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    {{ include('footer.html.twig') }}
  </div>
  <!-- ./wrapper -->
{% endblock %}

{% block javascripts %}
	
	{{ parent() }}
	<script>
		$(document).ready(function(){		
			var consultorioId = $('.consul').attr("consul_id");
	    	var x = document.getElementsByTagName("option");
		    for(i = 0; i < x.length; i++){
		    	if(document.getElementsByTagName("option")[i].value == consultorioId){
		    		document.getElementsByTagName("option")[i].selected = "true";
		   		}
			}		    
		});
	</script>

{% endblock %}