{% extends 'layout.html.twig' %}

{% block body %}
  <div class="wrapper">
    {{ include('indexHeader.html.twig') }}
    <!-- Full Width Column -->
    <div class="content-wrapper">
      {{ include('JCAPacienteBundle:Paciente:messages/succes.html.twig') }}
      <div class="container">
        <!-- Main content -->
        <section class="content-header">
          <h1>Listado de pacientes</h1>
          <div class="breadcrumb">
            <a class="btn pull-right" href="#bottom">
              <i class="fa fa-angle-down"></i> Pie de página
            </a>
          </div>
        </section>
        <section class="content">
          <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example1" class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Apellido y nombre</th>
                    <th>Consultorio</th>
                    <th>DNI</th>
                    <th>Edad</th>
                    <th>Teléfono</th>
                    <th><i class="fa fa-users"></i></th>
                  </tr>
                </thead>
                <tbody>
                  {% for paciente in pacientes %}
                    <tr>
                      <td>{{ paciente.apellidoNombre }}</td>
                      <td>{{ paciente.consultorio }}</td>
                      <td>{{ paciente.dni }}</td>
                      <td>{{ ('now'|date('Y') - paciente.fechaNacimiento|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - paciente.fechaNacimiento|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }}</td>
                      <td>{{ paciente.telefono }}</td>
                      <td class="col-sm-1">
                        <a href="{{ path('jca_paciente_view', { id: paciente.id }) }}" class="btn btn-block btn-primary btn-social"><i class="fa fa-user"></i><b>Ver planilla</b></a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Apellido y nombre</th>
                    <th>Consultorio</th>
                    <th>DNI</th>
                    <th>Edad</th>
                    <th>Teléfono</th>
                    <th><i class="fa fa-users"></i></th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    {{ include('footer.html.twig') }}
  </div>
  <!-- ./wrapper -->
{% endblock %}