{% extends 'layout.html.twig' %}

{% block body %}
  <div class="wrapper">
    {{ include('indexHeader.html.twig') }}
    <!-- Full Width Column -->
    <div class="content-wrapper">
      {{ include('JCAPacienteBundle:Paciente:messages/succes.html.twig') }}
      <div class="container">
        <!-- Main content -->
        <section class="content-header">
          <h1>Planilla del paciente</h1>
          <div class="breadcrumb">
            <a class="btn pull-right" href="#bottom">
              <i class="fa fa-angle-down"></i> Última consulta
            </a>
          </div>
        </section>
        <section class="content">
          <div class="box box-primary">
            <div class="box-body row">
              <!--Nombre y consultorio-->
              <div class="col-sm-6">
                <h3 class="text-left">Apellido y Nombre: {{ paciente.apellidoNombre }}</h5>  
              </div>
              <div class="col-sm-6">
                <h3 class="text-right">Consultorio: {{ paciente.consultorio }}</h5>  
              </div>
              <!--Edad y telefono-->              
              <div class="col-sm-6">
                <h3 class="text-left">Edad: {{ ('now'|date('Y') - paciente.fechaNacimiento|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - paciente.fechaNacimiento|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }}</h5>  
              </div>
              <div class="col-sm-6">
                <h3 class="text-right">Telefono: {{ paciente.telefono }}</h5>  
              </div>
              <!--Dni y Consultorio-->        
              <div class="col-sm-6">
                <h3 class="text-left">DNI: {{ paciente.dni }}</h5>  
              </div>
              <div class="col-sm-6">
                <h3 class="text-right">Domicilio: {{ paciente.domicilio }}</h5>  
              </div>
              <!--Mas datos de consulta-->
              <div class="col-sm-12">         
                <h4>Fecha: {{ paciente.fechaConsulta|date("d/m/Y") }}</h4>           
                <h4>MC: {{ paciente.mc }}</h4>   
                <h4>Antecedentes: {{ paciente.antecedentes }}</h4>          
                <h4>Medicacion: {{ paciente.medicacion }}</h4>
              </div> 
              <div class="btn-group pull-right box-body">
                <a href="{{ path('jca_paciente_edit', { id: paciente.id, consul: paciente.consultorio  }) }}" class="btn btn-primary btn-social"><i class="fa fa-edit"></i><b> Editar</b></a>
                <button type="button" class="btn btn-danger btn-social"  data-toggle="modal" data-target="#modal-eliminar-paciente">
                  <i class="fa fa-remove"></i><b> Eliminar</b>                  
                </button>
              </div>            
            </div><!--Fin info principal-->
            <!-- /.box-body -->
          </div>
            <!-- /.box -->
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Consultas</h3>            
              <button type="button" class="btn btn-primary pull-right"  data-toggle="modal" data-target="#modal-agregar-consulta">
                <i class="fa fa-plus"></i><b> Agregar consulta</b>                  
              </button>
            </div>
            {% for consulta in consultas %}          
              <div class="box-body" id="consulta{{consulta.id}}">
                <div class="box-group" id="accordion">
                  <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                  <div class="panel box box-primary">
                    <div class="box-header with-border">
                      <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{consulta.id}}">
                          {{ consulta.fechaConsulta|date("d/m/Y") }}
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne{{consulta.id}}" class="panel-collapse collapse">
                      <div class="box-body">
                        <p>{{ consulta.consulta }}</p>
                        <div class="btn-group pull-right">
                          <!--a href="{{ path('jca_paciente_edit_consulta', { id: consulta.id, paciente: paciente.id }) }}" class="btn btn-primary"><i class="fa fa-edit"></i><b> Editar</b></a-->
                          <button type="button" class="btn btn-primary btn-social btn-modal"  data-toggle="modal" data-target="#modal-editar-consulta" consultaId="{{ consulta.id }}" pacienteId="{{ paciente.id }}" consultaText="{{ consulta.consulta }}" consultaDate="{{ consulta.fechaConsulta|date("Y-m-d") }}">
                            <i class="fa fa-edit"></i><b> Editar</b>                  
                          </button>                        
                          <button type="button" class="btn btn-danger btn-social"  data-toggle="modal" data-target="#modal-eliminar-consulta{{ consulta.id }}">
                            <i class="fa fa-remove"></i><b> Eliminar</b>                  
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- Loading-->
                    <div class="overlay hidden" id="consulta-progress{{ consulta.id }}">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- end loading -->
                  </div>                
                </div>                
              </div>                      

              <!--modal eliminar consulta-->
                <div class="modal modal-danger fade" id="modal-eliminar-consulta{{ consulta.id }}" consulta-id2>
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">¿Esta seguro que desea eliminar esta consulta?</h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                        {{ form_start(delete_consulta_form, {'attr': {'id': 'form-delete'}}) }}

                          {{ form_widget(delete_consulta_form) }}
                          
                          <button type="submit" class="btn btn-outline btn-delete" value="{{ consulta.id }}" data-dismiss="modal">Eliminar</button>
                        
                        {{ form_end(delete_consulta_form) }}
                      </div>
                    </div>
                  </div>
                </div>
              <!-- /.modal --> 

            {% endfor %}
          </div>

          <!--modal editar consulta-->
            <div class="modal fade" id="modal-editar-consulta">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar consulta</h4>
                  </div>
                  <div class="modal-body">
                    
                    {{ form_start(edit_consulta_form, { 'attr' : {'novalidate' : 'novalidate', 'id': 'form-edit'} }) }}

                    <div class="form-group"> 
                        {{ form_label(edit_consulta_form.consulta, 'Consulta') }}
                        <!--{{ form_widget(edit_consulta_form.consulta, {'attr': {'class': 'form-control', 'placeholder' : 'Consulta'}}) }}-->
                        <textarea id="jca_pacientebundle_consulta_consulta" name="jca_pacientebundle_consulta[consulta]" required="required" class="form-control textConsultaEdit" placeholder="Consulta"></textarea>
                        <span class="text-danger">{{ form_errors(edit_consulta_form.consulta) }}</span>
                    </div>

                    <div class="form-group">
                      {{ form_label(edit_consulta_form.fechaConsulta, 'Fecha de la consulta') }}
                      <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </div>
                                  <!--{{ form_widget(edit_consulta_form.fechaConsulta, {'attr': {'class': 'form-control', 'placeholder' : 'Fecha de consulta del paciente (ej. 09/02/1885)'}}) }}-->
                                  <input type="date" id="jca_pacientebundle_consulta_fechaConsulta" name="jca_pacientebundle_consulta[fechaConsulta]" required="required" class="form-control dateConsultaEdit" value="">           
                      </div>
                      <span class="text-danger">{{ form_errors(edit_consulta_form.fechaConsulta) }}</span>
                    </div>
                    <span class="label label-info pull-left">Ambos campos son obligaorios</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>

                    <p>
                      <!--{{ form_widget(edit_consulta_form.save, {'label' : 'Modificar', 'attr': {'class': 'btn btn-success btn-edit'}}) }}-->
                      <button type="submit" id="jca_pacientebundle_consulta_save" name="jca_pacientebundle_consulta[save]" class="btn btn-success btn-edit" consultaId="" pacienteId="">Modificar</button>
                    </p>                        

                    {{ form_end(edit_consulta_form) }}

                  </div>
                </div>              
              </div>
            </div>
          <!-- /.modal -->

          <!--modal agregar consulta-->
            <div class="modal fade" id="modal-agregar-consulta">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar consulta</h4>
                  </div>
                  <div class="modal-body">
                    
                    {{ form_start(add_consulta_form, { 'attr' : {'novalidate' : 'novalidate', 'id': 'form-add'} }) }}

                    <div class="form-group"> 
                        {{ form_label(add_consulta_form.consulta, 'Consulta') }}
                        {{ form_widget(add_consulta_form.consulta, {'attr': {'class': 'form-control textConsultaAdd', 'placeholder' : 'Consulta'}}) }}
                        <span class="text-danger">{{ form_errors(add_consulta_form.consulta) }}</span>
                    </div>

                    <div class="form-group">
                      {{ form_label(add_consulta_form.fechaConsulta, 'Fecha de la consulta') }}
                      <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </div>
                                  <!--input type="date" class="form-control" id="jca_pacientebundle_consulta_fechaConsulta" name="jca_pacientebundle_consulta[fechaConsulta]"-->
                                  {{ form_widget(add_consulta_form.fechaConsulta, {'attr': {'class': 'form-control dateConsultaAdd', 'placeholder' : 'Fecha de consulta del paciente (ej. 09/02/1885)'}}) }}           
                      </div>
                      <span class="text-danger">{{ form_errors(add_consulta_form.fechaConsulta) }}</span>
                    </div>
                    <span class="label label-info pull-left">Ambos campos son obligaorios</span> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>

                    <p>
                      {{ form_widget(add_consulta_form.save, {'label' : 'Agregar', 'attr': {'class': 'btn btn-success btn-add'}}) }}
                    </p>

                    {{ form_end(add_consulta_form) }}

                  </div>
                </div>              
              </div>
            </div>
          <!-- /.modal --> 

          <!--modal eliminar paciente-->
          <div class="modal modal-danger fade" id="modal-eliminar-paciente">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">¿Esta seguro que desea eliminar el paciente?</h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                  {{ form_start(delete_form) }}

                    {{ form_widget(delete_form) }}
                    
                    <button type="submit" class="btn btn-outline">Eliminar</button>
                  
                  {{ form_end(delete_form) }} 
                </div>
              </div>
            </div>
          </div>
          <!-- /.modal -->                           

        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    {{ include('footer.html.twig') }}
  </div>
  <!-- ./wrapper -->
{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <script>
    $('.btn-add').attr("disabled", true);
    $('.textConsultaAdd').change(function(){
      if($('.textConsultaAdd').val() == "" || $('.dateConsultaAdd').val() == ""){
          $('.btn-add').attr("disabled", true);
      }
      else{
          $('.btn-add').attr("disabled", false);
      }
    });
    $('.dateConsultaAdd').change(function(){
      if($('.textConsultaAdd').val() == "" || $('.dateConsultaAdd').val() == ""){
          $('.btn-add').attr("disabled", true);
      }
      else{
          $('.btn-add').attr("disabled", false);
      }
    });

    $('.textConsultaEdit').change(function(){
      if($('.textConsultaEdit').val() == "" || $('.dateConsultaEdit').val() == ""){
          $('.btn-edit').attr("disabled", true);
      }
      else{
          $('.btn-edit').attr("disabled", false);
      }
    });
    $('.dateConsultaEdit').change(function(){
      if($('.textConsultaEdit').val() == "" || $('.dateConsultaEdit').val() == ""){
          $('.btn-edit').attr("disabled", true);
      }
      else{
          $('.btn-edit').attr("disabled", false);
      }
    });
  </script>
  <script src="{{ asset('bundles/jcapaciente/js/delete-consulta.js') }}"></script>
  <script src="{{ asset('bundles/jcapaciente/js/edit-consulta.js') }}"></script>
  <script src="{{ asset('bundles/jcapaciente/js/modal-edit.js') }}"></script>

{% endblock %}