<footer class="main-footer" id="bottom">
  <div class="container">
    <div class="pull-right hidden-xs">
      <b><a class="grey-text text-lighten-4 right" href="https://github.com/JCAlmazan">GitHub</a></b>
    </div>
    <strong>Copyright &copy; 2017-2018 <a href="https://gitlab.com/JCAlmazan">Juan Cruz Almazán</a>.</strong> All rights
    reserved.
  </div>
  <!-- /.container -->
</footer>