<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="{{ path('jca_paciente_index') }}" class="navbar-brand"><i class="fa fa-user-md"></i><b> PACIENTES</b></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Navbar Right Menu -->
      <div class="collapse navbar-collapse navbar-custom-menu" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ path('jca_paciente_index') }}"><i class="fa fa-table"></i><b> Listado de pacientes</b></a></li>
          <li><a href="{{ path('jca_paciente_add_consultorio') }}"><i class="fa fa-hospital-o"></i><b> Gestionar consultorios</b></a></li>
          <li><a href="{{ path('jca_paciente_add') }}"><i class="fa fa-user-plus"></i><b> Agregar paciente</b></a></li>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>