{% for flashMessage in app.session.flashbag.get('error') %}
	<div class="alert alert-danger alert-dismissible">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  <h4><i class="icon fa fa-ban"></i> {{ flashMessage }}</h4>
	</div>
{% endfor %}